:root {
  --background-color: #1C6A00;
  --background-question: #B4B4B4;
  --background-thermo: #D3D3D3;
  --background-thermo-color: #821010;
  --background-other: #D9D9D9;
  --skip-color: #D9D9D9;
  --text-color: black;
}

body {
  background-color: var(--background-color);
}

.score-bar-out {
  position: relative;
  border-radius: 1vw;
  width: 30%;
  height: 80%;
  border: solid 2px var(--background-thermo);
  background-color: var(--background-thermo);
  z-index: 1;
}

.score-bar-in {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1vw;
  width: 100%;
  height: 0%;
  background-color: var(--background-thermo-color);
  z-index: 2;
  transition: height 0.3s ease-in-out;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.hidden {
  display: none;
}

#luka {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

#burn-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  z-index: 4;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

header h1 {
  background-color: var(--background-other);
}

header h2 {
  background-color: var(--background-question);
}

h1 {
  color: var(--text-color);
  text-align: center;
  border: solid black 3px;
  border-radius: 3em;
  width: 10em;
  align-self: center;
  margin: 0;
  width: 60%;
  font-size: 3em;
}

h2 {
  color: var(--text-color);
  text-align: center;
  border: solid black 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0;
  font-size: 2em;
}


body {
  display: flex;
  flex-direction: column;
  height: 97vh;
  width: 97vw;
}

section {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.score-bar {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  margin-right: 5%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70%;
}

.card {
  border: solid black 3px;
  background-color: var(--background-other);
  border-radius: 10px;
  color: var(--text-color);
  width: 25%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#popup {
  display: none;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

form button {
  background-color: var(--skip-color);
  border: var(--skip-color);
  padding: 35%;
  border-radius: 25%;
  font-weight: bold;
}

@keyframes fondu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.co2, #avancement {
  color: var(--text-color);
  font-size: 1.5em;
}

.illus {
  display: none;
}

.illustration {
	position: relative;
	margin: 0 auto;
	width : 716px;
	height: 413px;
	background : url("./illustration.jpg") no-repeat top center;
}
 
.i-large,
.i-medium,
.i-small {
	position : absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
 
.i-large {
	background: url("./particules_large.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 2s linear infinite;
	     -o-animation: dropFlowParticles 2s linear infinite;
	        animation: dropFlowParticles 2s linear infinite;
}
.i-medium {
	background: url("./particules_medium.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 12s linear infinite;
	     -o-animation: dropFlowParticles 12s linear infinite;
	        animation: dropFlowParticles 12s linear infinite;
}
.i-small {
	background:url("./particules_small.png") repeat 0px 0px;
	-webkit-animation: dropFlowParticles 27s linear infinite;
	     -o-animation: dropFlowParticles 27s linear infinite;
	        animation: dropFlowParticles 27s linear infinite;
}
 
@-webkit-keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}
@keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}