h1 {
    color: blue;
    justify-self: self-start;
    margin-top: 0;
    padding-top: 0;
}

body {
    background-color: #1C6A00;
    font-family: "Bungee Spice", serif;
    height: 100vh;
    
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 98%;
    width: 98%;
}

.title {
    background-color: #D9D9D9;
}

.sun, .earth {
    color: #370D00;
    width: 12rem;
    height: 12rem;
}

.sun {
    align-self: self-end;
    justify-self: self-start;
}

.earth {
    align-self: self-start;
    justify-self: baseline;
}

.question {
    width: 3rem;
    height: 3rem;
    align-self: self-end;
}

.cards {
    justify-self: center;
    height: 12rem;
    width: 12rem;
}

.jouer {
    z-index: 2;
    position: absolute;
    text-decoration: none;
    font-size: 200%;
    margin-top: 5rem;
    margin-left: 2rem;
}

.threeCards {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}